<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Bem Vindo
  </h1>
  <p>ao Sistema
  </p>
  <a href="/adm.json" target="_blank">Clique Aqui</a>
</body>

</html>